<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>AE</key>
		<string>A_E_.glif</string>
		<key>Aacute</key>
		<string>A_acute.glif</string>
		<key>Abreve</key>
		<string>A_breve.glif</string>
		<key>Acircumflex</key>
		<string>A_circumflex.glif</string>
		<key>Adieresis</key>
		<string>A_dieresis.glif</string>
		<key>Adotbelow</key>
		<string>A_dotbelow.glif</string>
		<key>Agrave</key>
		<string>A_grave.glif</string>
		<key>Amacron</key>
		<string>A_macron.glif</string>
		<key>Aring</key>
		<string>A_ring.glif</string>
		<key>Atilde</key>
		<string>A_tilde.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>Bet-hb</key>
		<string>B_et-hb.glif</string>
		<key>Blinebelow</key>
		<string>B_linebelow.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Ccaron</key>
		<string>C_caron.glif</string>
		<key>Ccedilla</key>
		<string>C_cedilla.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>Ddotbelow</key>
		<string>D_dotbelow.glif</string>
		<key>Delta.math</key>
		<string>D_elta.math.glif</string>
		<key>Dlinebelow</key>
		<string>D_linebelow.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eacute</key>
		<string>E_acute.glif</string>
		<key>Ebreve</key>
		<string>E_breve.glif</string>
		<key>Ecircumflex</key>
		<string>E_circumflex.glif</string>
		<key>Edieresis</key>
		<string>E_dieresis.glif</string>
		<key>Edotbelow</key>
		<string>E_dotbelow.glif</string>
		<key>Egrave</key>
		<string>E_grave.glif</string>
		<key>Emacron</key>
		<string>E_macron.glif</string>
		<key>Eogonek</key>
		<string>E_ogonek.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>Gcaron</key>
		<string>G_caron.glif</string>
		<key>Gdotaccent</key>
		<string>G_dotaccent.glif</string>
		<key>Gmacron</key>
		<string>G_macron.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>Hbar</key>
		<string>H_bar.glif</string>
		<key>Hbrevebelow</key>
		<string>H_brevebelow.glif</string>
		<key>Hdotbelow</key>
		<string>H_dotbelow.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>Iacute</key>
		<string>I_acute.glif</string>
		<key>Icircumflex</key>
		<string>I_circumflex.glif</string>
		<key>Idieresis</key>
		<string>I_dieresis.glif</string>
		<key>Igrave</key>
		<string>I_grave.glif</string>
		<key>Imacron</key>
		<string>I_macron.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>Kdotbelow</key>
		<string>K_dotbelow.glif</string>
		<key>Klinebelow</key>
		<string>K_linebelow.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Ntilde</key>
		<string>N_tilde.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>OE</key>
		<string>O_E_.glif</string>
		<key>Oacute</key>
		<string>O_acute.glif</string>
		<key>Obreve</key>
		<string>O_breve.glif</string>
		<key>Ocircumflex</key>
		<string>O_circumflex.glif</string>
		<key>Odieresis</key>
		<string>O_dieresis.glif</string>
		<key>Odotbelow</key>
		<string>O_dotbelow.glif</string>
		<key>Ograve</key>
		<string>O_grave.glif</string>
		<key>Omacron</key>
		<string>O_macron.glif</string>
		<key>Omega.math</key>
		<string>O_mega.math.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Otilde</key>
		<string>O_tilde.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Sacute</key>
		<string>S_acute.glif</string>
		<key>Scaron</key>
		<string>S_caron.glif</string>
		<key>Schwa</key>
		<string>S_chwa.glif</string>
		<key>Sdotbelow</key>
		<string>S_dotbelow.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>Tdotbelow</key>
		<string>T_dotbelow.glif</string>
		<key>Thorn</key>
		<string>T_horn.glif</string>
		<key>Tlinebelow</key>
		<string>T_linebelow.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Uacute</key>
		<string>U_acute.glif</string>
		<key>Ucircumflex</key>
		<string>U_circumflex.glif</string>
		<key>Udieresis</key>
		<string>U_dieresis.glif</string>
		<key>Ugrave</key>
		<string>U_grave.glif</string>
		<key>Umacron</key>
		<string>U_macron.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>Vdotbelow</key>
		<string>V_dotbelow.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Yacute</key>
		<string>Y_acute.glif</string>
		<key>Ydieresis</key>
		<string>Y_dieresis.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>ZWJ</key>
		<string>Z_W_J_.glif</string>
		<key>ZWNJ</key>
		<string>Z_W_N_J_.glif</string>
		<key>Zcaron</key>
		<string>Z_caron.glif</string>
		<key>Zdotbelow</key>
		<string>Z_dotbelow.glif</string>
		<key>Zlinebelow</key>
		<string>Z_linebelow.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.sups</key>
		<string>a.sups.glif</string>
		<key>aacute</key>
		<string>aacute.glif</string>
		<key>abreve</key>
		<string>abreve.glif</string>
		<key>acircumflex</key>
		<string>acircumflex.glif</string>
		<key>acute</key>
		<string>acute.glif</string>
		<key>acutecomb</key>
		<string>acutecomb.glif</string>
		<key>acutecomb.cap</key>
		<string>acutecomb.cap.glif</string>
		<key>adieresis</key>
		<string>adieresis.glif</string>
		<key>adotbelow</key>
		<string>adotbelow.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>agrave</key>
		<string>agrave.glif</string>
		<key>alef-hb</key>
		<string>alef-hb.glif</string>
		<key>alphalatin</key>
		<string>alphalatin.glif</string>
		<key>amacron</key>
		<string>amacron.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>ampersand.lat</key>
		<string>ampersand.lat.glif</string>
		<key>approxequal</key>
		<string>approxequal.glif</string>
		<key>aring</key>
		<string>aring.glif</string>
		<key>asciicircum</key>
		<string>asciicircum.glif</string>
		<key>asciicircum.lat</key>
		<string>asciicircum.lat.glif</string>
		<key>asciitilde</key>
		<string>asciitilde.glif</string>
		<key>asterisk</key>
		<string>asterisk.glif</string>
		<key>asterisk.lat</key>
		<string>asterisk.lat.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>at.lat</key>
		<string>at.lat.glif</string>
		<key>atilde</key>
		<string>atilde.glif</string>
		<key>aturned</key>
		<string>aturned.glif</string>
		<key>ayin-hb</key>
		<string>ayin-hb.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>backslash</key>
		<string>backslash.glif</string>
		<key>backslash.lat</key>
		<string>backslash.lat.glif</string>
		<key>bar</key>
		<string>bar.glif</string>
		<key>bet-hb</key>
		<string>bet-hb.glif</string>
		<key>blinebelow</key>
		<string>blinebelow.glif</string>
		<key>braceleft</key>
		<string>braceleft.glif</string>
		<key>braceleft.lat</key>
		<string>braceleft.lat.glif</string>
		<key>braceright</key>
		<string>braceright.glif</string>
		<key>braceright.lat</key>
		<string>braceright.lat.glif</string>
		<key>bracketleft</key>
		<string>bracketleft.glif</string>
		<key>bracketleft.lat</key>
		<string>bracketleft.lat.glif</string>
		<key>bracketright</key>
		<string>bracketright.glif</string>
		<key>bracketright.lat</key>
		<string>bracketright.lat.glif</string>
		<key>breve</key>
		<string>breve.glif</string>
		<key>brevebelowcomb</key>
		<string>brevebelowcomb.glif</string>
		<key>brevecomb</key>
		<string>brevecomb.glif</string>
		<key>brevecomb.cap</key>
		<string>brevecomb.cap.glif</string>
		<key>breveinverteddoublecomb</key>
		<string>breveinverteddoublecomb.glif</string>
		<key>brokenbar</key>
		<string>brokenbar.glif</string>
		<key>bullet</key>
		<string>bullet.glif</string>
		<key>bullet.lat</key>
		<string>bullet.lat.glif</string>
		<key>bulletoperator</key>
		<string>bulletoperator.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>caron</key>
		<string>caron.glif</string>
		<key>caroncomb</key>
		<string>caroncomb.glif</string>
		<key>caroncomb.cap</key>
		<string>caroncomb.cap.glif</string>
		<key>ccaron</key>
		<string>ccaron.glif</string>
		<key>ccedilla</key>
		<string>ccedilla.glif</string>
		<key>cedilla</key>
		<string>cedilla.glif</string>
		<key>cedillacomb</key>
		<string>cedillacomb.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>cent.heb</key>
		<string>cent.heb.glif</string>
		<key>cent.lat</key>
		<string>cent.lat.glif</string>
		<key>chi</key>
		<string>chi.glif</string>
		<key>circledotted</key>
		<string>circledotted.glif</string>
		<key>circumflex</key>
		<string>circumflex.glif</string>
		<key>circumflexcomb</key>
		<string>circumflexcomb.glif</string>
		<key>circumflexcomb.cap</key>
		<string>circumflexcomb.cap.glif</string>
		<key>colon</key>
		<string>colon.glif</string>
		<key>colontriangularmod</key>
		<string>colontriangularmod.glif</string>
		<key>comma</key>
		<string>comma.glif</string>
		<key>copyright</key>
		<string>copyright.glif</string>
		<key>copyright.lat</key>
		<string>copyright.lat.glif</string>
		<key>currency</key>
		<string>currency.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>dagger</key>
		<string>dagger.glif</string>
		<key>dagger.lat</key>
		<string>dagger.lat.glif</string>
		<key>daggerdbl</key>
		<string>daggerdbl.glif</string>
		<key>daggerdbl.lat</key>
		<string>daggerdbl.lat.glif</string>
		<key>dalet-hb</key>
		<string>dalet-hb.glif</string>
		<key>ddotbelow</key>
		<string>ddotbelow.glif</string>
		<key>degree</key>
		<string>degree.glif</string>
		<key>degree.lat</key>
		<string>degree.lat.glif</string>
		<key>dezh</key>
		<string>dezh.glif</string>
		<key>dieresis</key>
		<string>dieresis.glif</string>
		<key>dieresiscomb</key>
		<string>dieresiscomb.glif</string>
		<key>dieresiscomb.cap</key>
		<string>dieresiscomb.cap.glif</string>
		<key>divide</key>
		<string>divide.glif</string>
		<key>divisionslash</key>
		<string>divisionslash.glif</string>
		<key>divisionslash.lat</key>
		<string>divisionslash.lat.glif</string>
		<key>dlinebelow</key>
		<string>dlinebelow.glif</string>
		<key>dollar</key>
		<string>dollar.glif</string>
		<key>dollar.heb</key>
		<string>dollar.heb.glif</string>
		<key>dollar.lat</key>
		<string>dollar.lat.glif</string>
		<key>dotaccent</key>
		<string>dotaccent.glif</string>
		<key>dotaccentcomb</key>
		<string>dotaccentcomb.glif</string>
		<key>dotaccentcomb.cap</key>
		<string>dotaccentcomb.cap.glif</string>
		<key>dotbelowcomb</key>
		<string>dotbelowcomb.glif</string>
		<key>dotlessj</key>
		<string>dotlessj.glif</string>
		<key>downtackbelowcomb</key>
		<string>downtackbelowcomb.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.sups</key>
		<string>e.sups.glif</string>
		<key>eacute</key>
		<string>eacute.glif</string>
		<key>ebreve</key>
		<string>ebreve.glif</string>
		<key>ecircumflex</key>
		<string>ecircumflex.glif</string>
		<key>edieresis</key>
		<string>edieresis.glif</string>
		<key>edotbelow</key>
		<string>edotbelow.glif</string>
		<key>egrave</key>
		<string>egrave.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.heb</key>
		<string>eight.heb.glif</string>
		<key>eight.lat</key>
		<string>eight.lat.glif</string>
		<key>eight.pnumheb</key>
		<string>eight.pnumheb.glif</string>
		<key>eight.pnumlat</key>
		<string>eight.pnumlat.glif</string>
		<key>ellipsis</key>
		<string>ellipsis.glif</string>
		<key>emacron</key>
		<string>emacron.glif</string>
		<key>emdash</key>
		<string>emdash.glif</string>
		<key>emdash.lat</key>
		<string>emdash.lat.glif</string>
		<key>endash</key>
		<string>endash.glif</string>
		<key>endash.lat</key>
		<string>endash.lat.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eogonek.sups</key>
		<string>eogonek.sups.glif</string>
		<key>eopen</key>
		<string>eopen.glif</string>
		<key>equal</key>
		<string>equal.glif</string>
		<key>esh</key>
		<string>esh.glif</string>
		<key>estimated</key>
		<string>estimated.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>euro</key>
		<string>euro.glif</string>
		<key>euro.001</key>
		<string>euro.001.glif</string>
		<key>euro.heb</key>
		<string>euro.heb.glif</string>
		<key>euro.heb.001</key>
		<string>euro.heb.001.glif</string>
		<key>euro.lat</key>
		<string>euro.lat.glif</string>
		<key>euro.lat.001</key>
		<string>euro.lat.001.glif</string>
		<key>exclam</key>
		<string>exclam.glif</string>
		<key>exclam.lat</key>
		<string>exclam.lat.glif</string>
		<key>exclamdown</key>
		<string>exclamdown.glif</string>
		<key>exclamdown.lat</key>
		<string>exclamdown.lat.glif</string>
		<key>ezh</key>
		<string>ezh.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>fi</key>
		<string>fi.glif</string>
		<key>finalkaf-hb</key>
		<string>finalkaf-hb.glif</string>
		<key>finalmem-hb</key>
		<string>finalmem-hb.glif</string>
		<key>finalnun-hb</key>
		<string>finalnun-hb.glif</string>
		<key>finalpe-hb</key>
		<string>finalpe-hb.glif</string>
		<key>finaltsadi-hb</key>
		<string>finaltsadi-hb.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>five.heb</key>
		<string>five.heb.glif</string>
		<key>five.lat</key>
		<string>five.lat.glif</string>
		<key>five.pnumheb</key>
		<string>five.pnumheb.glif</string>
		<key>five.pnumlat</key>
		<string>five.pnumlat.glif</string>
		<key>fl</key>
		<string>fl.glif</string>
		<key>florin</key>
		<string>florin.glif</string>
		<key>florin.heb</key>
		<string>florin.heb.glif</string>
		<key>florin.lat</key>
		<string>florin.lat.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>four.heb</key>
		<string>four.heb.glif</string>
		<key>four.lat</key>
		<string>four.lat.glif</string>
		<key>four.pnumheb</key>
		<string>four.pnumheb.glif</string>
		<key>four.pnumlat</key>
		<string>four.pnumlat.glif</string>
		<key>fraction</key>
		<string>fraction.glif</string>
		<key>fraction.lat</key>
		<string>fraction.lat.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gammalatin</key>
		<string>gammalatin.glif</string>
		<key>gcaron</key>
		<string>gcaron.glif</string>
		<key>gdotaccent</key>
		<string>gdotaccent.glif</string>
		<key>germandbls</key>
		<string>germandbls.glif</string>
		<key>gimel-hb</key>
		<string>gimel-hb.glif</string>
		<key>glottalstop</key>
		<string>glottalstop.glif</string>
		<key>glottalstopreversed</key>
		<string>glottalstopreversed.glif</string>
		<key>glottalstopreversedsupmod</key>
		<string>glottalstopreversedsupmod.glif</string>
		<key>gmacron</key>
		<string>gmacron.glif</string>
		<key>grave</key>
		<string>grave.glif</string>
		<key>gravecomb</key>
		<string>gravecomb.glif</string>
		<key>gravecomb.cap</key>
		<string>gravecomb.cap.glif</string>
		<key>greater</key>
		<string>greater.glif</string>
		<key>greaterequal</key>
		<string>greaterequal.glif</string>
		<key>gscript</key>
		<string>gscript.glif</string>
		<key>guillemetleft</key>
		<string>guillemetleft.glif</string>
		<key>guillemetleft.lat</key>
		<string>guillemetleft.lat.glif</string>
		<key>guillemetright</key>
		<string>guillemetright.glif</string>
		<key>guillemetright.lat</key>
		<string>guillemetright.lat.glif</string>
		<key>guilsinglleft</key>
		<string>guilsinglleft.glif</string>
		<key>guilsinglleft.lat</key>
		<string>guilsinglleft.lat.glif</string>
		<key>guilsinglright</key>
		<string>guilsinglright.glif</string>
		<key>guilsinglright.lat</key>
		<string>guilsinglright.lat.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hbar</key>
		<string>hbar.glif</string>
		<key>hbrevebelow</key>
		<string>hbrevebelow.glif</string>
		<key>hdotbelow</key>
		<string>hdotbelow.glif</string>
		<key>he-hb</key>
		<string>he-hb.glif</string>
		<key>het-hb</key>
		<string>het-hb.glif</string>
		<key>hlinebelow</key>
		<string>hlinebelow.glif</string>
		<key>hungarumlaut</key>
		<string>hungarumlaut.glif</string>
		<key>hungarumlautcomb</key>
		<string>hungarumlautcomb.glif</string>
		<key>hungarumlautcomb.cap</key>
		<string>hungarumlautcomb.cap.glif</string>
		<key>hyphen</key>
		<string>hyphen.glif</string>
		<key>hyphentwo</key>
		<string>hyphentwo.glif</string>
		<key>hyphentwo.lat</key>
		<string>hyphentwo.lat.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>iacute</key>
		<string>iacute.glif</string>
		<key>icircumflex</key>
		<string>icircumflex.glif</string>
		<key>idieresis</key>
		<string>idieresis.glif</string>
		<key>idotless</key>
		<string>idotless.glif</string>
		<key>igrave</key>
		<string>igrave.glif</string>
		<key>imacron</key>
		<string>imacron.glif</string>
		<key>infinity</key>
		<string>infinity.glif</string>
		<key>integral</key>
		<string>integral.glif</string>
		<key>ismall</key>
		<string>ismall.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>j.sups</key>
		<string>j.sups.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>kaf-hb</key>
		<string>kaf-hb.glif</string>
		<key>kdotbelow</key>
		<string>kdotbelow.glif</string>
		<key>klinebelow</key>
		<string>klinebelow.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>lamed-hb</key>
		<string>lamed-hb.glif</string>
		<key>lefttorightembed</key>
		<string>lefttorightembed.glif</string>
		<key>lefttorightmark</key>
		<string>lefttorightmark.glif</string>
		<key>lefttorightoverride</key>
		<string>lefttorightoverride.glif</string>
		<key>less</key>
		<string>less.glif</string>
		<key>lessequal</key>
		<string>lessequal.glif</string>
		<key>litre</key>
		<string>litre.glif</string>
		<key>lmiddletilde</key>
		<string>lmiddletilde.glif</string>
		<key>logicalnot</key>
		<string>logicalnot.glif</string>
		<key>lozenge</key>
		<string>lozenge.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>macron</key>
		<string>macron.glif</string>
		<key>macronbelowcomb</key>
		<string>macronbelowcomb.glif</string>
		<key>macroncomb</key>
		<string>macroncomb.glif</string>
		<key>macroncomb.cap</key>
		<string>macroncomb.cap.glif</string>
		<key>mem-hb</key>
		<string>mem-hb.glif</string>
		<key>minus</key>
		<string>minus.glif</string>
		<key>mu.math</key>
		<string>mu.math.glif</string>
		<key>multiply</key>
		<string>multiply.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>nbspace</key>
		<string>nbspace.glif</string>
		<key>newsheqel</key>
		<string>newsheqel.glif</string>
		<key>newsheqel.heb</key>
		<string>newsheqel.heb.glif</string>
		<key>newsheqel.lat</key>
		<string>newsheqel.lat.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>nine.heb</key>
		<string>nine.heb.glif</string>
		<key>nine.lat</key>
		<string>nine.lat.glif</string>
		<key>nine.pnumheb</key>
		<string>nine.pnumheb.glif</string>
		<key>nine.pnumlat</key>
		<string>nine.pnumlat.glif</string>
		<key>notequal</key>
		<string>notequal.glif</string>
		<key>ntilde</key>
		<string>ntilde.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>numbersign.heb</key>
		<string>numbersign.heb.glif</string>
		<key>numbersign.lat</key>
		<string>numbersign.lat.glif</string>
		<key>nun-hb</key>
		<string>nun-hb.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>o.sups</key>
		<string>o.sups.glif</string>
		<key>oacute</key>
		<string>oacute.glif</string>
		<key>obreve</key>
		<string>obreve.glif</string>
		<key>ocircumflex</key>
		<string>ocircumflex.glif</string>
		<key>odieresis</key>
		<string>odieresis.glif</string>
		<key>odotbelow</key>
		<string>odotbelow.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>ogonek</key>
		<string>ogonek.glif</string>
		<key>ograve</key>
		<string>ograve.glif</string>
		<key>omacron</key>
		<string>omacron.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>one.heb</key>
		<string>one.heb.glif</string>
		<key>one.lat</key>
		<string>one.lat.glif</string>
		<key>one.pnumheb</key>
		<string>one.pnumheb.glif</string>
		<key>one.pnumlat</key>
		<string>one.pnumlat.glif</string>
		<key>one.sups</key>
		<string>one.sups.glif</string>
		<key>one.supsheb</key>
		<string>one.supsheb.glif</string>
		<key>one.supslat</key>
		<string>one.supslat.glif</string>
		<key>onehalf</key>
		<string>onehalf.glif</string>
		<key>onehalf.heb</key>
		<string>onehalf.heb.glif</string>
		<key>onehalf.lat</key>
		<string>onehalf.lat.glif</string>
		<key>onequarter</key>
		<string>onequarter.glif</string>
		<key>onequarter.heb</key>
		<string>onequarter.heb.glif</string>
		<key>onequarter.lat</key>
		<string>onequarter.lat.glif</string>
		<key>oopen</key>
		<string>oopen.glif</string>
		<key>ordfeminine</key>
		<string>ordfeminine.glif</string>
		<key>ordmasculine</key>
		<string>ordmasculine.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>otilde</key>
		<string>otilde.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>paragraph</key>
		<string>paragraph.glif</string>
		<key>paragraph.lat</key>
		<string>paragraph.lat.glif</string>
		<key>parenleft</key>
		<string>parenleft.glif</string>
		<key>parenleft.lat</key>
		<string>parenleft.lat.glif</string>
		<key>parenright</key>
		<string>parenright.glif</string>
		<key>parenright.lat</key>
		<string>parenright.lat.glif</string>
		<key>partialdiff</key>
		<string>partialdiff.glif</string>
		<key>pe-hb</key>
		<string>pe-hb.glif</string>
		<key>percent</key>
		<string>percent.glif</string>
		<key>percent.heb</key>
		<string>percent.heb.glif</string>
		<key>percent.lat</key>
		<string>percent.lat.glif</string>
		<key>period</key>
		<string>period.glif</string>
		<key>periodcentered</key>
		<string>periodcentered.glif</string>
		<key>periodcentered.lat</key>
		<string>periodcentered.lat.glif</string>
		<key>perthousand</key>
		<string>perthousand.glif</string>
		<key>perthousand.heb</key>
		<string>perthousand.heb.glif</string>
		<key>perthousand.lat</key>
		<string>perthousand.lat.glif</string>
		<key>pi</key>
		<string>pi.glif</string>
		<key>plus</key>
		<string>plus.glif</string>
		<key>plusminus</key>
		<string>plusminus.glif</string>
		<key>popdirectionformat</key>
		<string>popdirectionformat.glif</string>
		<key>primemod</key>
		<string>primemod.glif</string>
		<key>product</key>
		<string>product.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>qof-hb</key>
		<string>qof-hb.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>question.lat</key>
		<string>question.lat.glif</string>
		<key>questiondown</key>
		<string>questiondown.glif</string>
		<key>questiondown.lat</key>
		<string>questiondown.lat.glif</string>
		<key>quotedbl</key>
		<string>quotedbl.glif</string>
		<key>quotedbl.lat</key>
		<string>quotedbl.lat.glif</string>
		<key>quotedblbase</key>
		<string>quotedblbase.glif</string>
		<key>quotedblbase.lat</key>
		<string>quotedblbase.lat.glif</string>
		<key>quotedblleft</key>
		<string>quotedblleft.glif</string>
		<key>quotedblleft.lat</key>
		<string>quotedblleft.lat.glif</string>
		<key>quotedblright</key>
		<string>quotedblright.glif</string>
		<key>quotedblright.lat</key>
		<string>quotedblright.lat.glif</string>
		<key>quoteleft</key>
		<string>quoteleft.glif</string>
		<key>quoteleft.lat</key>
		<string>quoteleft.lat.glif</string>
		<key>quoteright</key>
		<string>quoteright.glif</string>
		<key>quoteright.lat</key>
		<string>quoteright.lat.glif</string>
		<key>quotesinglbase</key>
		<string>quotesinglbase.glif</string>
		<key>quotesinglbase.lat</key>
		<string>quotesinglbase.lat.glif</string>
		<key>quotesingle</key>
		<string>quotesingle.glif</string>
		<key>quotesingle.lat</key>
		<string>quotesingle.lat.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>radical</key>
		<string>radical.glif</string>
		<key>registered</key>
		<string>registered.glif</string>
		<key>registered.lat</key>
		<string>registered.lat.glif</string>
		<key>resh-hb</key>
		<string>resh-hb.glif</string>
		<key>righttoleftembed</key>
		<string>righttoleftembed.glif</string>
		<key>righttoleftmark</key>
		<string>righttoleftmark.glif</string>
		<key>righttoleftoverride</key>
		<string>righttoleftoverride.glif</string>
		<key>ring</key>
		<string>ring.glif</string>
		<key>ringcomb</key>
		<string>ringcomb.glif</string>
		<key>ringcomb.cap</key>
		<string>ringcomb.cap.glif</string>
		<key>ringhalfleftmod</key>
		<string>ringhalfleftmod.glif</string>
		<key>ringhalfrightmod</key>
		<string>ringhalfrightmod.glif</string>
		<key>rsmall</key>
		<string>rsmall.glif</string>
		<key>rsmallinverted</key>
		<string>rsmallinverted.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>sacute</key>
		<string>sacute.glif</string>
		<key>samekh-hb</key>
		<string>samekh-hb.glif</string>
		<key>scaron</key>
		<string>scaron.glif</string>
		<key>schwa</key>
		<string>schwa.glif</string>
		<key>sdotbelow</key>
		<string>sdotbelow.glif</string>
		<key>section</key>
		<string>section.glif</string>
		<key>section.lat</key>
		<string>section.lat.glif</string>
		<key>semicolon</key>
		<string>semicolon.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>seven.heb</key>
		<string>seven.heb.glif</string>
		<key>seven.lat</key>
		<string>seven.lat.glif</string>
		<key>seven.pnumheb</key>
		<string>seven.pnumheb.glif</string>
		<key>seven.pnumlat</key>
		<string>seven.pnumlat.glif</string>
		<key>shin-hb</key>
		<string>shin-hb.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>six.heb</key>
		<string>six.heb.glif</string>
		<key>six.lat</key>
		<string>six.lat.glif</string>
		<key>six.pnumheb</key>
		<string>six.pnumheb.glif</string>
		<key>six.pnumlat</key>
		<string>six.pnumlat.glif</string>
		<key>slash</key>
		<string>slash.glif</string>
		<key>slash.lat</key>
		<string>slash.lat.glif</string>
		<key>softhyphen</key>
		<string>softhyphen.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>sterling.heb</key>
		<string>sterling.heb.glif</string>
		<key>sterling.lat</key>
		<string>sterling.lat.glif</string>
		<key>summation</key>
		<string>summation.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>tav-hb</key>
		<string>tav-hb.glif</string>
		<key>tdotbelow</key>
		<string>tdotbelow.glif</string>
		<key>tesh</key>
		<string>tesh.glif</string>
		<key>tet-hb</key>
		<string>tet-hb.glif</string>
		<key>theta</key>
		<string>theta.glif</string>
		<key>thorn</key>
		<string>thorn.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>three.heb</key>
		<string>three.heb.glif</string>
		<key>three.lat</key>
		<string>three.lat.glif</string>
		<key>three.pnumheb</key>
		<string>three.pnumheb.glif</string>
		<key>three.pnumlat</key>
		<string>three.pnumlat.glif</string>
		<key>three.sups</key>
		<string>three.sups.glif</string>
		<key>three.supsheb</key>
		<string>three.supsheb.glif</string>
		<key>three.supslat</key>
		<string>three.supslat.glif</string>
		<key>threequarters</key>
		<string>threequarters.glif</string>
		<key>threequarters.heb</key>
		<string>threequarters.heb.glif</string>
		<key>threequarters.lat</key>
		<string>threequarters.lat.glif</string>
		<key>tilde</key>
		<string>tilde.glif</string>
		<key>tildecomb</key>
		<string>tildecomb.glif</string>
		<key>tildecomb.cap</key>
		<string>tildecomb.cap.glif</string>
		<key>tlinebelow</key>
		<string>tlinebelow.glif</string>
		<key>trademark</key>
		<string>trademark.glif</string>
		<key>trademark.lat</key>
		<string>trademark.lat.glif</string>
		<key>ts</key>
		<string>ts.glif</string>
		<key>tsadi-hb</key>
		<string>tsadi-hb.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.heb</key>
		<string>two.heb.glif</string>
		<key>two.lat</key>
		<string>two.lat.glif</string>
		<key>two.pnumheb</key>
		<string>two.pnumheb.glif</string>
		<key>two.pnumlat</key>
		<string>two.pnumlat.glif</string>
		<key>two.sups</key>
		<string>two.sups.glif</string>
		<key>two.supsheb</key>
		<string>two.supsheb.glif</string>
		<key>two.supslat</key>
		<string>two.supslat.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>uacute</key>
		<string>uacute.glif</string>
		<key>ucircumflex</key>
		<string>ucircumflex.glif</string>
		<key>udieresis</key>
		<string>udieresis.glif</string>
		<key>ugrave</key>
		<string>ugrave.glif</string>
		<key>umacron</key>
		<string>umacron.glif</string>
		<key>underscore</key>
		<string>underscore.glif</string>
		<key>upsilonlatin</key>
		<string>upsilonlatin.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>vav-hb</key>
		<string>vav-hb.glif</string>
		<key>vdotbelow</key>
		<string>vdotbelow.glif</string>
		<key>verticallinemod</key>
		<string>verticallinemod.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>yacute</key>
		<string>yacute.glif</string>
		<key>ydieresis</key>
		<string>ydieresis.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>yen.heb</key>
		<string>yen.heb.glif</string>
		<key>yen.lat</key>
		<string>yen.lat.glif</string>
		<key>yod-hb</key>
		<string>yod-hb.glif</string>
		<key>yturned</key>
		<string>yturned.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>zayin-hb</key>
		<string>zayin-hb.glif</string>
		<key>zcaron</key>
		<string>zcaron.glif</string>
		<key>zdotbelow</key>
		<string>zdotbelow.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
		<key>zero.heb</key>
		<string>zero.heb.glif</string>
		<key>zero.lat</key>
		<string>zero.lat.glif</string>
		<key>zero.pnumheb</key>
		<string>zero.pnumheb.glif</string>
		<key>zero.pnumlat</key>
		<string>zero.pnumlat.glif</string>
		<key>zero.slash</key>
		<string>zero.slash.glif</string>
		<key>zero.slashpnum</key>
		<string>zero.slashpnum.glif</string>
		<key>zlinebelow</key>
		<string>zlinebelow.glif</string>
	</dict>
</plist>