<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.cap</key>
    <string>acutecomb.cap.glif</string>
    <key>brevebelowcomb</key>
    <string>brevebelowcomb.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>brevecomb.cap</key>
    <string>brevecomb.cap.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.cap</key>
    <string>caroncomb.cap.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>circumflexcomb.cap</key>
    <string>circumflexcomb.cap.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.cap</key>
    <string>dieresiscomb.cap.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>gravecomb.cap</key>
    <string>gravecomb.cap.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>hungarumlautcomb.cap</key>
    <string>hungarumlautcomb.cap.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>macronbelowcomb</key>
    <string>macronbelowcomb.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>macroncomb.cap</key>
    <string>macroncomb.cap.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>ringcomb.cap</key>
    <string>ringcomb.cap.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.cap</key>
    <string>tildecomb.cap.glif</string>
  </dict>
</plist>
