<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E084D721-82F7-451A-B9ED-AA6DC9624389</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevebelowcomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronbelowcomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb.cap</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecomb.cap</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
