<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.GRK_CHI_LC_LEFT</key>
    <array>
      <string>chi</string>
    </array>
    <key>public.kern1.GRK_THETA_LC_LEFT</key>
    <array>
      <string>theta</string>
    </array>
    <key>public.kern1.LAT_A_LC_LEFT</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.LAT_A_UC_LEFT</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.LAT_B_UC_LEFT</key>
    <array>
      <string>B</string>
      <string>Blinebelow</string>
    </array>
    <key>public.kern1.LAT_C_LC_LEFT</key>
    <array>
      <string>c</string>
      <string>ccaron</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.LAT_C_UC_LEFT</key>
    <array>
      <string>C</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.LAT_D_LC_LEFT</key>
    <array>
      <string>d</string>
      <string>ddotbelow</string>
      <string>dlinebelow</string>
    </array>
    <key>public.kern1.LAT_ETH_LC_LEFT</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern1.LAT_EZH_LC_LEFT</key>
    <array>
      <string>ezh</string>
    </array>
    <key>public.kern1.LAT_E_LC_LEFT</key>
    <array>
      <string>aturned</string>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>oe</string>
    </array>
    <key>public.kern1.LAT_E_UC_LEFT</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>OE</string>
    </array>
    <key>public.kern1.LAT_F_LC_LEFT</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.LAT_F_UC_LEFT</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.LAT_GERMANDBLS_LC_LEFT</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern1.LAT_G_LC_LEFT</key>
    <array>
      <string>g</string>
      <string>gcaron</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
    </array>
    <key>public.kern1.LAT_G_UC_LEFT</key>
    <array>
      <string>G</string>
      <string>Gcaron</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
    </array>
    <key>public.kern1.LAT_HBAR_UC_LEFT</key>
    <array>
      <string>Hbar</string>
    </array>
    <key>public.kern1.LAT_H_UC_LEFT</key>
    <array>
      <string>H</string>
      <string>Hbrevebelow</string>
      <string>Hdotbelow</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.LAT_I_LC_LEFT</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>fi</string>
    </array>
    <key>public.kern1.LAT_I_UC_LEFT</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Imacron</string>
    </array>
    <key>public.kern1.LAT_J_LC_LEFT</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.LAT_J_UC_LEFT</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.LAT_K_LC_LEFT</key>
    <array>
      <string>k</string>
      <string>kdotbelow</string>
      <string>klinebelow</string>
    </array>
    <key>public.kern1.LAT_K_UC_LEFT</key>
    <array>
      <string>K</string>
      <string>Kdotbelow</string>
      <string>Klinebelow</string>
    </array>
    <key>public.kern1.LAT_LSLASH_LC_LEFT</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern1.LAT_L_LC_LEFT</key>
    <array>
      <string>l</string>
      <string>fl</string>
    </array>
    <key>public.kern1.LAT_L_UC_LEFT</key>
    <array>
      <string>L</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.LAT_N_LC_LEFT</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>hbrevebelow</string>
      <string>hdotbelow</string>
      <string>hlinebelow</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.LAT_ORDFEMININE_LEFT</key>
    <array>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
    </array>
    <key>public.kern1.LAT_O_LC_LEFT</key>
    <array>
      <string>b</string>
      <string>blinebelow</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>omacron</string>
      <string>oopen</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>schwa</string>
    </array>
    <key>public.kern1.LAT_O_UC_LEFT</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Schwa</string>
    </array>
    <key>public.kern1.LAT_P_UC_LEFT</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.LAT_R_LC_LEFT</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.LAT_R_UC_LEFT</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.LAT_S_LC_LEFT</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>sdotbelow</string>
    </array>
    <key>public.kern1.LAT_S_UC_LEFT</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Sdotbelow</string>
    </array>
    <key>public.kern1.LAT_THORN_UC_LEFT</key>
    <array>
      <string>Thorn</string>
    </array>
    <key>public.kern1.LAT_T_LC_LEFT</key>
    <array>
      <string>t</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
    </array>
    <key>public.kern1.LAT_T_UC_LEFT</key>
    <array>
      <string>T</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
    </array>
    <key>public.kern1.LAT_U_LC_LEFT</key>
    <array>
      <string>idotless</string>
      <string>q</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>umacron</string>
      <string>gscript</string>
      <string>alphalatin</string>
      <string>rsmallinverted</string>
    </array>
    <key>public.kern1.LAT_U_UC_LEFT</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Umacron</string>
    </array>
    <key>public.kern1.LAT_V_LC_LEFT</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.LAT_V_UC_LEFT</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.LAT_W_LC_LEFT</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.LAT_W_UC_LEFT</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.LAT_X_LC_LEFT</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.LAT_X_UC_LEFT</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.LAT_Y_LC_LEFT</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>gammalatin</string>
    </array>
    <key>public.kern1.LAT_Y_UC_LEFT</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern1.LAT_Z_LC_LEFT</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
      <string>zdotbelow</string>
      <string>zlinebelow</string>
    </array>
    <key>public.kern1.LAT_Z_UC_LEFT</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
      <string>Zdotbelow</string>
      <string>Zlinebelow</string>
    </array>
    <key>public.kern1.NUM_ZERO_LEFT</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern1.PCT_BRACELEFT_LEFT</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft</string>
    </array>
    <key>public.kern1.PCT_COLON_LEFT</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.PCT_COMMA_LEFT</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.PCT_EMDASH_LEFT</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern1.PCT_EXCLAM_LEFT</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.PCT_GUILLEFT_LEFT</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.PCT_GUILRIGHT_LEFT</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.PCT_PERCENT_LEFT</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern1.PCT_QUESTION_LEFT</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.PCT_QUOTELEFT_LEFT</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.PCT_QUOTERIGHT_LEFT</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.PCT_QUOTE_LEFT</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.GRK_CHI_LC_RIGHT</key>
    <array>
      <string>chi</string>
    </array>
    <key>public.kern2.GRK_THETA_LC_RIGHT</key>
    <array>
      <string>theta</string>
    </array>
    <key>public.kern2.LAT_AE_UC_RIGHT</key>
    <array>
      <string>AE</string>
    </array>
    <key>public.kern2.LAT_A_LC_RIGHT</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.LAT_A_UC_RIGHT</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.LAT_DCROAT_UC_RIGHT</key>
    <array>
      <string>Eth</string>
    </array>
    <key>public.kern2.LAT_ETH_LC_RIGHT</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern2.LAT_F_LC_RIGHT</key>
    <array>
      <string>f</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.LAT_G_LC_RIGHT</key>
    <array>
      <string>g</string>
      <string>gcaron</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
    </array>
    <key>public.kern2.LAT_HBAR_LC_RIGHT</key>
    <array>
      <string>hbar</string>
    </array>
    <key>public.kern2.LAT_HBAR_UC_RIGHT</key>
    <array>
      <string>Hbar</string>
    </array>
    <key>public.kern2.LAT_H_UC_RIGHT</key>
    <array>
      <string>B</string>
      <string>Blinebelow</string>
      <string>D</string>
      <string>Ddotbelow</string>
      <string>Dlinebelow</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>H</string>
      <string>Hbrevebelow</string>
      <string>Hdotbelow</string>
      <string>K</string>
      <string>Kdotbelow</string>
      <string>Klinebelow</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
    </array>
    <key>public.kern2.LAT_I_LC_RIGHT</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
    </array>
    <key>public.kern2.LAT_I_UC_RIGHT</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Imacron</string>
    </array>
    <key>public.kern2.LAT_J_LC_RIGHT</key>
    <array>
      <string>esh</string>
      <string>j</string>
    </array>
    <key>public.kern2.LAT_J_UC_RIGHT</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.LAT_LSLASH_LC_RIGHT</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern2.LAT_LSLASH_UC_RIGHT</key>
    <array>
      <string>Lslash</string>
    </array>
    <key>public.kern2.LAT_L_LC_RIGHT</key>
    <array>
      <string>b</string>
      <string>blinebelow</string>
      <string>h</string>
      <string>hbrevebelow</string>
      <string>hdotbelow</string>
      <string>hlinebelow</string>
      <string>k</string>
      <string>kdotbelow</string>
      <string>klinebelow</string>
      <string>l</string>
      <string>thorn</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.LAT_N_LC_RIGHT</key>
    <array>
      <string>idotless</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>p</string>
      <string>r</string>
      <string>rsmall</string>
    </array>
    <key>public.kern2.LAT_O_LC_RIGHT</key>
    <array>
      <string>c</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>ddotbelow</string>
      <string>dlinebelow</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>gscript</string>
      <string>alphalatin</string>
    </array>
    <key>public.kern2.LAT_O_UC_RIGHT</key>
    <array>
      <string>C</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>G</string>
      <string>Gcaron</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
    </array>
    <key>public.kern2.LAT_SCHWA_LC_RIGHT</key>
    <array>
      <string>schwa</string>
    </array>
    <key>public.kern2.LAT_SCHWA_UC_RIGHT</key>
    <array>
      <string>Schwa</string>
    </array>
    <key>public.kern2.LAT_S_LC_RIGHT</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>sdotbelow</string>
    </array>
    <key>public.kern2.LAT_S_UC_RIGHT</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Sdotbelow</string>
    </array>
    <key>public.kern2.LAT_T_LC_RIGHT</key>
    <array>
      <string>t</string>
      <string>tdotbelow</string>
      <string>tlinebelow</string>
    </array>
    <key>public.kern2.LAT_T_UC_RIGHT</key>
    <array>
      <string>T</string>
      <string>Tdotbelow</string>
      <string>Tlinebelow</string>
    </array>
    <key>public.kern2.LAT_U_LC_RIGHT</key>
    <array>
      <string>aturned</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>umacron</string>
    </array>
    <key>public.kern2.LAT_U_UC_RIGHT</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Umacron</string>
    </array>
    <key>public.kern2.LAT_V_LC_RIGHT</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.LAT_V_UC_RIGHT</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.LAT_W_LC_RIGHT</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.LAT_W_UC_RIGHT</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.LAT_X_LC_RIGHT</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.LAT_X_UC_RIGHT</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.LAT_Y_LC_RIGHT</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>gammalatin</string>
    </array>
    <key>public.kern2.LAT_Y_UC_RIGHT</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2.LAT_Z_LC_RIGHT</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
      <string>zdotbelow</string>
      <string>zlinebelow</string>
    </array>
    <key>public.kern2.LAT_Z_UC_RIGHT</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
      <string>Zdotbelow</string>
      <string>Zlinebelow</string>
    </array>
    <key>public.kern2.NUM_ZERO_RIGHT</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern2.PCT_BRACERIGHT_RIGHT</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright</string>
    </array>
    <key>public.kern2.PCT_COLON_RIGHT</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.PCT_COMMA_RIGHT</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.PCT_EMDASH_RIGHT</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>softhyphen</string>
    </array>
    <key>public.kern2.PCT_EXCLAM_RIGHT</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.PCT_GUILLEFT_RIGHT</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.PCT_GUILRIGHT_RIGHT</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.PCT_ORDFEMININE_RIGHT</key>
    <array>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
    </array>
    <key>public.kern2.PCT_PERCENT_RIGHT</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern2.PCT_QUESTION_RIGHT</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.PCT_QUOTELEFT_RIGHT</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.PCT_QUOTERIGHT_RIGHT</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.PCT_QUOTE_RIGHT</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
  </dict>
</plist>
