<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_GRK_CHI_LC_LEFT</key>
	<array>
		<string>chi</string>
	</array>
	<key>@MMK_L_GRK_DELTA_UC_LEFT</key>
	<array>
		<string>uni0394.math</string>
	</array>
	<key>@MMK_L_GRK_OMEGA_UC_LEFT</key>
	<array>
		<string>uni03A9.math</string>
	</array>
	<key>@MMK_L_GRK_THETA_LC_LEFT</key>
	<array>
		<string>theta</string>
	</array>
	<key>@MMK_L_LAT_A_LC_LEFT</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>uni1EA1</string>
	</array>
	<key>@MMK_L_LAT_A_UC_LEFT</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>uni1EA0</string>
	</array>
	<key>@MMK_L_LAT_B_UC_LEFT</key>
	<array>
		<string>B</string>
		<string>uni1E06</string>
	</array>
	<key>@MMK_L_LAT_C_LC_LEFT</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>ccaron</string>
	</array>
	<key>@MMK_L_LAT_C_UC_LEFT</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_L_LAT_D_LC_LEFT</key>
	<array>
		<string>d</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
	</array>
	<key>@MMK_L_LAT_ETH_LC_LEFT</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_L_LAT_EZH_LC_LEFT</key>
	<array>
		<string>uni0292</string>
	</array>
	<key>@MMK_L_LAT_E_LC_LEFT</key>
	<array>
		<string>e</string>
		<string>ae</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>oe</string>
		<string>ebreve</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EB9</string>
		<string>uni0250</string>
	</array>
	<key>@MMK_L_LAT_E_UC_LEFT</key>
	<array>
		<string>E</string>
		<string>AE</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>OE</string>
		<string>Ebreve</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EB8</string>
	</array>
	<key>@MMK_L_LAT_F_LC_LEFT</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_LAT_F_UC_LEFT</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_LAT_GERMANDBLS_LC_LEFT</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_LAT_G_LC_LEFT</key>
	<array>
		<string>g</string>
		<string>gdotaccent</string>
		<string>gcaron</string>
		<string>uni1E21</string>
	</array>
	<key>@MMK_L_LAT_G_UC_LEFT</key>
	<array>
		<string>G</string>
		<string>Gdotaccent</string>
		<string>Gcaron</string>
		<string>uni1E20</string>
	</array>
	<key>@MMK_L_LAT_HBAR_UC_LEFT</key>
	<array>
		<string>Hbar</string>
	</array>
	<key>@MMK_L_LAT_H_UC_LEFT</key>
	<array>
		<string>H</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>uni1E24</string>
		<string>uni1E2A</string>
	</array>
	<key>@MMK_L_LAT_I_LC_LEFT</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>fi</string>
	</array>
	<key>@MMK_L_LAT_I_UC_LEFT</key>
	<array>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
	</array>
	<key>@MMK_L_LAT_J_LC_LEFT</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_L_LAT_J_UC_LEFT</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_LAT_K_LC_LEFT</key>
	<array>
		<string>k</string>
		<string>uni1E33</string>
		<string>uni1E35</string>
	</array>
	<key>@MMK_L_LAT_K_UC_LEFT</key>
	<array>
		<string>K</string>
		<string>uni1E32</string>
		<string>uni1E34</string>
	</array>
	<key>@MMK_L_LAT_LSLASH_LC_LEFT</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_L_LAT_L_LC_LEFT</key>
	<array>
		<string>l</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_LAT_L_UC_LEFT</key>
	<array>
		<string>L</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_LAT_N_LC_LEFT</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>hbar</string>
		<string>uni1E25</string>
		<string>uni1E2B</string>
		<string>uni1E96</string>
	</array>
	<key>@MMK_L_LAT_ORDFEMININE_LEFT</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_L_LAT_O_LC_LEFT</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>uni1E07</string>
		<string>obreve</string>
		<string>omacron</string>
		<string>uni1ECD</string>
		<string>uni0254</string>
		<string>uni0259</string>
	</array>
	<key>@MMK_L_LAT_O_UC_LEFT</key>
	<array>
		<string>D</string>
		<string>O</string>
		<string>Q</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Eth</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>Obreve</string>
		<string>Omacron</string>
		<string>uni1ECC</string>
		<string>uni018F</string>
	</array>
	<key>@MMK_L_LAT_P_UC_LEFT</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_LAT_R_LC_LEFT</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_LAT_R_UC_LEFT</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_LAT_S_LC_LEFT</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>uni1E63</string>
	</array>
	<key>@MMK_L_LAT_S_UC_LEFT</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Sacute</string>
		<string>uni1E62</string>
	</array>
	<key>@MMK_L_LAT_THORN_UC_LEFT</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_LAT_T_LC_LEFT</key>
	<array>
		<string>t</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
	</array>
	<key>@MMK_L_LAT_T_UC_LEFT</key>
	<array>
		<string>T</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
	</array>
	<key>@MMK_L_LAT_U_LC_LEFT</key>
	<array>
		<string>q</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>alphalatin</string>
		<string>uni210A</string>
		<string>rsmallinverted</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_L_LAT_U_UC_LEFT</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
	</array>
	<key>@MMK_L_LAT_V_LC_LEFT</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_LAT_V_UC_LEFT</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_LAT_W_LC_LEFT</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_LAT_W_UC_LEFT</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_LAT_X_LC_LEFT</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_LAT_X_UC_LEFT</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_LAT_Y_LC_LEFT</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>gammalatin</string>
	</array>
	<key>@MMK_L_LAT_Y_UC_LEFT</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_LAT_Z_LC_LEFT</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>uni1E93</string>
		<string>uni1E95</string>
	</array>
	<key>@MMK_L_LAT_Z_UC_LEFT</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>uni1E92</string>
		<string>uni1E94</string>
	</array>
	<key>@MMK_L_NUM_ZERO_LEFT</key>
	<array>
		<string>zero</string>
	</array>
	<key>@MMK_L_PCT_BRACELEFT_LEFT</key>
	<array>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_PCT_COLON_LEFT</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_PCT_COMMA_LEFT</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_L_PCT_EMDASH_LEFT</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00AD</string>
	</array>
	<key>@MMK_L_PCT_EXCLAM_LEFT</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_L_PCT_GUILLEFT_LEFT</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_PCT_GUILRIGHT_LEFT</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_PCT_PERCENT_LEFT</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_L_PCT_QUESTION_LEFT</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_PCT_QUOTELEFT_LEFT</key>
	<array>
		<string>ringhalfleftmod</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_L_PCT_QUOTERIGHT_LEFT</key>
	<array>
		<string>ringhalfrightmod</string>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_L_PCT_QUOTE_LEFT</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_GRK_CHI_LC_RIGHT</key>
	<array>
		<string>chi</string>
	</array>
	<key>@MMK_R_GRK_DELTA_UC_RIGHT</key>
	<array>
		<string>uni0394.math</string>
	</array>
	<key>@MMK_R_GRK_OMEGA_UC_RIGHT</key>
	<array>
		<string>uni03A9.math</string>
	</array>
	<key>@MMK_R_GRK_THETA_LC_RIGHT</key>
	<array>
		<string>theta</string>
	</array>
	<key>@MMK_R_LAT_AE_UC_RIGHT</key>
	<array>
		<string>AE</string>
	</array>
	<key>@MMK_R_LAT_A_LC_RIGHT</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>uni1EA1</string>
	</array>
	<key>@MMK_R_LAT_A_UC_RIGHT</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>uni1EA0</string>
	</array>
	<key>@MMK_R_LAT_DCROAT_UC_RIGHT</key>
	<array>
		<string>Eth</string>
	</array>
	<key>@MMK_R_LAT_ETH_LC_RIGHT</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_R_LAT_F_LC_RIGHT</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_LAT_G_LC_RIGHT</key>
	<array>
		<string>g</string>
		<string>gdotaccent</string>
		<string>gcaron</string>
		<string>uni1E21</string>
	</array>
	<key>@MMK_R_LAT_HBAR_LC_RIGHT</key>
	<array>
		<string>hbar</string>
	</array>
	<key>@MMK_R_LAT_HBAR_UC_RIGHT</key>
	<array>
		<string>Hbar</string>
	</array>
	<key>@MMK_R_LAT_H_UC_RIGHT</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
		<string>R</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>uni1E06</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>Ebreve</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EB8</string>
		<string>uni1E24</string>
		<string>uni1E2A</string>
		<string>uni1E32</string>
		<string>uni1E34</string>
	</array>
	<key>@MMK_R_LAT_I_LC_RIGHT</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
	</array>
	<key>@MMK_R_LAT_I_UC_RIGHT</key>
	<array>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
	</array>
	<key>@MMK_R_LAT_J_LC_RIGHT</key>
	<array>
		<string>j</string>
		<string>uni0283</string>
	</array>
	<key>@MMK_R_LAT_J_UC_RIGHT</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_LAT_LSLASH_LC_RIGHT</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_R_LAT_LSLASH_UC_RIGHT</key>
	<array>
		<string>Lslash</string>
	</array>
	<key>@MMK_R_LAT_L_LC_RIGHT</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>germandbls</string>
		<string>thorn</string>
		<string>uni1E07</string>
		<string>uni1E25</string>
		<string>uni1E2B</string>
		<string>uni1E96</string>
		<string>uni1E33</string>
		<string>uni1E35</string>
	</array>
	<key>@MMK_R_LAT_N_LC_RIGHT</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>r</string>
		<string>ntilde</string>
		<string>rsmall</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_R_LAT_O_LC_RIGHT</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>oe</string>
		<string>ccaron</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>ebreve</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EB9</string>
		<string>obreve</string>
		<string>omacron</string>
		<string>uni1ECD</string>
		<string>alphalatin</string>
		<string>uni210A</string>
	</array>
	<key>@MMK_R_LAT_O_UC_RIGHT</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>Ccaron</string>
		<string>Gdotaccent</string>
		<string>Gcaron</string>
		<string>uni1E20</string>
		<string>Obreve</string>
		<string>Omacron</string>
		<string>uni1ECC</string>
	</array>
	<key>@MMK_R_LAT_SCHWA_LC_RIGHT</key>
	<array>
		<string>uni0259</string>
	</array>
	<key>@MMK_R_LAT_SCHWA_UC_RIGHT</key>
	<array>
		<string>uni018F</string>
	</array>
	<key>@MMK_R_LAT_S_LC_RIGHT</key>
	<array>
		<string>s</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>uni1E63</string>
	</array>
	<key>@MMK_R_LAT_S_UC_RIGHT</key>
	<array>
		<string>S</string>
		<string>Scaron</string>
		<string>Sacute</string>
		<string>uni1E62</string>
	</array>
	<key>@MMK_R_LAT_T_LC_RIGHT</key>
	<array>
		<string>t</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
	</array>
	<key>@MMK_R_LAT_T_UC_RIGHT</key>
	<array>
		<string>T</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
	</array>
	<key>@MMK_R_LAT_U_LC_RIGHT</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uni0250</string>
	</array>
	<key>@MMK_R_LAT_U_UC_RIGHT</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
	</array>
	<key>@MMK_R_LAT_V_LC_RIGHT</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_LAT_V_UC_RIGHT</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_LAT_W_LC_RIGHT</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_LAT_W_UC_RIGHT</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_LAT_X_LC_RIGHT</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_LAT_X_UC_RIGHT</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_LAT_Y_LC_RIGHT</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>gammalatin</string>
	</array>
	<key>@MMK_R_LAT_Y_UC_RIGHT</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_LAT_Z_LC_RIGHT</key>
	<array>
		<string>z</string>
		<string>zcaron</string>
		<string>uni1E93</string>
		<string>uni1E95</string>
	</array>
	<key>@MMK_R_LAT_Z_UC_RIGHT</key>
	<array>
		<string>Z</string>
		<string>Zcaron</string>
		<string>uni1E92</string>
		<string>uni1E94</string>
	</array>
	<key>@MMK_R_NUM_ZERO_RIGHT</key>
	<array>
		<string>zero</string>
	</array>
	<key>@MMK_R_PCT_BRACERIGHT_RIGHT</key>
	<array>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
	</array>
	<key>@MMK_R_PCT_COLON_RIGHT</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_PCT_COMMA_RIGHT</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>@MMK_R_PCT_EMDASH_RIGHT</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>uni00AD</string>
	</array>
	<key>@MMK_R_PCT_EXCLAM_RIGHT</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_R_PCT_GUILLEFT_RIGHT</key>
	<array>
		<string>guilsinglleft</string>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_PCT_GUILRIGHT_RIGHT</key>
	<array>
		<string>guilsinglright</string>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_PCT_ORDFEMININE_RIGHT</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_PCT_PERCENT_RIGHT</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>@MMK_R_PCT_QUESTION_RIGHT</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_PCT_QUOTELEFT_RIGHT</key>
	<array>
		<string>ringhalfleftmod</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
	</array>
	<key>@MMK_R_PCT_QUOTERIGHT_RIGHT</key>
	<array>
		<string>ringhalfrightmod</string>
		<string>quoteright</string>
		<string>quotedblright</string>
	</array>
	<key>@MMK_R_PCT_QUOTE_RIGHT</key>
	<array>
		<string>quotesingle</string>
		<string>quotedbl</string>
	</array>
</dict>
</plist>
